<div>
  <h4>Input login and password:</h4>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value); loginForm.reset()">
    <input type="text" id="name" name="name" required [(ngModel)]="lg.name" placeholder="Input user name">
    <input type="password" id="password" name="password" required [(ngModel)]="lg.password" placeholder="Input user password">
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

</div>
