$supertop-background-color: #39484d;
$text-color: #7a9199;
$supertop-border: #29363a;
$menu-wrapper-border-color: #566b72;

$supertop-text-color: #7a9199;

$nav-background: #435459;
$nav-color: #ccc;
$nav-selected-color: #1abbb5;

$content-color: #fff;

$money-color: #cebd65;
