/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// We should just change the colors file to change the theme
@import './variables-darktheme';

@import '../app/sharedComponents/top-menu/top-menu.component';
@import '../app/sharedComponents/login-menu/login-menu.component';

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $content-color;
  color: $text-color;
}

%flex-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.super-top {
  background-color: $supertop-background-color;
  border-bottom: 1px solid $supertop-border;
  color: $supertop-text-color;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 38px;
  white-space: nowrap;

  > ul {
    @extend %flex-menu;
    padding: 0 10px;

    > li:first-child {
      margin-left: 0;
      margin-right: auto;
    }

    > li:last-child {
      border-left: 1px solid $supertop-border;
      padding-left: 10px;
    }

    > li {
      margin: 0 8px;
      padding: 10px 0 4px 0;
    }

  }
}

.btn-config {
  color: $nav-color;
  border: 0;
  background-color: transparent;
  line-height: 40px;
  &:focus {
    outline: 0;
  }
}

/**** Styles for all dropdowns ****/
.mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field.compact {
  max-width: 48px;
}

.mat-select-value-text, .mat-select-placeholder, .mat-select-arrow, .mat-fucused, .mat-form-field-label {
  font-weight: bold;
  color: $nav-color !important; // Without this important it didn't work at all, I know this is not good practice but I hadn't enough time to find another solution
}

.mat-form-field-underline, .mat-form-field-ripple {
  background-color: transparent;
}
/****                          ****/

.menu-wrapper {
  background-color: $nav-background;
  border-top: 1px solid $menu-wrapper-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-menu {
  @extend %flex-menu;
}

.content, .menu-wrapper {
  padding: 16px 10px 0 10px;
}

.menu-wrapper {
  padding-top: 8px;
}

.content {
  padding-top: 25px;
}

@media screen and (max-width: 720px) {
  .current-time {
    display: none;
  }
}
