/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 18px;
    height: 12px;
    background: url('../img/flags.png') no-repeat;
}


.flag.flag-io {
    background-position: -18px 0;
}

.flag.flag-mt {
    background-position: 0 -12px;
}

.flag.flag-de {
    background-position: 0 0;
}
