<div>
  <h4>Create new user form: (all the fields are mandatory)</h4>
  <form #createForm="ngForm" (ngSubmit)="createUser(createForm.value); createForm.reset()">
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required placeholder="Input user name" />
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required placeholder="Input user password" />
    <button type="submit" [disabled]="!createForm.valid">Create user</button>
  </form>

</div>
