.login-wrapper {

  ul.controls {
    @extend %flex-menu;

    > li:first-child {
      .fa {
        color: $money-color;
      }
    }
    > li {
      .fa {
        color: $nav-color;
      }
      .mat-form-field.user-menu {
        max-width: 120px;
      }
      .mat-form-field.msg-menu {
        max-width: 15px;
      }
      .mat-form-field.money-menu {
        max-width: 60px;
      }
    }

    > li {
      margin-left: 20px;
    }

    &.unregistered {
      > li:first-child {
        margin-right: 10px;
      }
    }

  }

  a {
    color: $nav-selected-color;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $nav-color;
    }
  }

  .btn {
    line-height: 30px;
    .mat-button-wrapper {
      line-height: 30px;
      font-size: 12px;
      font-weight: bold;
    }
  }

}
