<div class="login-wrapper">

  <ul class="controls unregistered" *ngIf="!userState">
    <li><a [routerLink]="['./login']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Log in</a></li>
    <li><button mat-raised-button color="accent" class="btn" [routerLink]="['./create-user']">Create account</button></li>
  </ul>

  <ul class="controls registered" *ngIf="userState">
    <li>
      <i class="fa fa-database"></i>
      <mat-form-field class="money-menu">
        <mat-select placeholder="$8 569">
          <mat-option *ngFor="let option of moneyMenu" [value]="option.title">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="user-menu">
        <mat-select placeholder="{{curUser.name}} username">
          <mat-option *ngFor="let option of userMenu" [value]="option.title">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li>
      <i class="fa fa-envelope"></i>
      <mat-form-field class="compact msg-menu">
        <mat-select placeholder="">
          <mat-option *ngFor="let option of msgMenu" [value]="option.title">{{option.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>

</div>
