<ul class="main-nav">
  <li><a [routerLink]=" ['./sports'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Sports
  </a></li>
  <li><a [routerLink]=" ['./in-play'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    In-play
  </a></li>
  <li><a  [routerLink]=" ['./casino'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Casino</a></li>
  <li><a>Casino live</a></li>
  <li><a>Promotions</a></li>
</ul>
