.main-nav {
  @extend %flex-menu;
  min-height: 37px;
  padding: 18px 0 0 0;

  > li {
    > a {
      text-transform: uppercase;
      color: $nav-color;
      padding: 8px 0 20px 0;
      margin: 0 20px;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 12px;
      white-space: nowrap;
      text-align: center;

      &.active {
        padding: 8px 0 16px 0;
        color: $nav-selected-color;
        border-bottom: 4px solid $nav-selected-color;
      }
    }
  }

}
